


.trend-section-about{

    p{
        font-family: Lato;
        font-weight: 300;
        font-style: Light;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 26px;
        letter-spacing: 0%;

    }

    .trend-group{
        @media(min-width:990px){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    padding-top: 6.7rem;

    .about-title{
        font-family: Lato;
        font-weight: 400;
        font-style: Regular;
        font-size: 44px;
        leading-trim: NONE;
        line-height: 53px;
        letter-spacing: 0%;
        text-transform: uppercase;

    }


    .trend-wrapper{



        &:hover{


            .trend-image-wrapper{
                img{
                    transform: scale(1.1);
                }

            }
            .trend-blog-info{
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }

        }

        position: relative;

        .trend-image-wrapper{
            margin-bottom: 7rem;
            @media(min-width:990px){
                margin-bottom: 0;
            }

            img{
                transition: 0.2s;
            }
        }

        .trend-blog-info{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            background-color: white;
            padding-top: 0.6rem;
            padding-bottom: 3rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            width: 80%;
            transition: 0.3s;
            .trend-blog-title{
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 10%;
                margin-bottom: 0;
            }

            .trend-blog-date{
                font-size: 14px;
                leading-trim: NONE;
                line-height: 46px;
                letter-spacing: 10%;
                margin-bottom: 0;
            }

        }

    }

}

.about-footer{
    padding-top: 12rem;
}
