.service-section{

    margin-top:7.7rem;

    @media(min-width:990px){
        margin-top:calc(7.7rem + 9.7rem);
    }

    .h-line{
        width: 10%;
        color: darken($bg-rose, 15%);
        margin: 2.8rem 0 4.1rem;
    }
    
    
    .info-left{
        background-color: $bg-beige;
        aspect-ratio: 1/1;

        .service-info-wrapper{


            @media (min-width: 768px) and (max-width: 990px) {
                h3{
                    font-size: 2.1rem;
                }
            }

            .learn-button{
                border: 1px solid black;
                border-radius: 0;
                font-size: 1.2rem;
                margin-top:3.8rem;

                @media(min-width:990px){
                    margin-top:5.8rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
    
    .info-right{
        background-color: $bg-rose;
        aspect-ratio: 1/1;

        .service-info-wrapper{


            @media (min-width: 768px) and (max-width: 990px) {
                h3{
                    font-size: 2.1rem;
                }
            }

            .learn-button{
                border: 1px solid black;
                border-radius: 0;
                font-size: 1.2rem;
                margin-top:3.8rem;

                @media(min-width:990px){
                    margin-top:5.8rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
}